.graph-content {
  text-align: center;
  background-color: var(--joplin-background-color) !important;
}

.header-area {
  width: 100%
}

button {
  background-color: #339966;
  border: none;
  color: white;
  padding: 5px 10px;
  text-align: center;
  margin-left: 10px;
  float: left;
  font-size: 10px;
}

.header {
  font-size: 20px;
}

.container {
  width: 100%;
  height: 100%;
  font-family: var(--joplin-font-family);
}

circle {
  fill: var(--joplin-background-color3);
  stroke: var(--joplin-color4);
  r: 10;
}

.adjacent-note {
  fill: var(--joplin-color4);
  r: 13;
}

.current-note {
  fill: var(--joplin-color);
  r: 18;
}

line {
  stroke: var(--joplin-color4);
}

.adjacent-line {
  stroke: var(--joplin-color);
  stroke-width: 3px;
}

.node-label {
  fill: var(--joplin-color);
}
