.outline-content {
  text-align: center;
  background-color: var(--joplin-background-color) !important;
}

.header {
  font-size: 20px;
}

.container {
  width: 100%;
  height: 100%;
  font-size: var(--joplin-font-size);
	font-family: var(--joplin-font-family);
}

circle {
  fill: var(--joplin-color);
}

line {
  stroke: var(--joplin-color);
}

.node-label {
  fill: var(--joplin-color);
}
